html {
    scroll-behavior: smooth;
    line-height: 1.15;
    font-family: 'Scheherazade New', serif;
}
body {
    margin: 0;
    background-color :#C0C0C0;
}
ul {
    list-style: none;
}
h1 {
    color : white;
    padding: 0.5em 1em;
}
/*============================================== TABLEAU ========================================*/
table {
    border-collapse: collapse; 
    margin: auto;
    background-color: white;
}
th, td {
    border : 2px solid #1d1801;
    border-collapse: collapse; 
    text-align: center;
}
 td {
    padding: 0.7em 1em;
}
thead th {
    width: 10em;
    background-color: #131413;
    color: white;
    padding: 1em 0;
}
thead td {
    background-color: #131413;
    color: white;
}
tbody th {
    font-family: cursive;
    padding: 1em;
    background-color: #131413;
    color: white;
}
tbody td {
    font-size: 1.3em;
}

/*============================================== RÉFÉRENTIEL ========================================*/

.anniv {
    background-color: tomato;
    font-weight: bold;
}
.deadline {
    background-color: violet;
}
.sport {
    background-color: yellowgreen;
}
.soiree {
    background-color: orangered;
}
.ref {
    margin : 2em;
    background-color: #131413;
    color: white;
    padding: 1em;
    width: 20%;
    border : 2px solid white;
}
.ref div {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
}

/*============================================== FORMULAIRE ========================================*/

form {
    font-size: 1.5em;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #131413;
    color: white;
    border: 2px solid #bc4764;	
    display: flex;
    flex-wrap: wrap;
}
form div {
    padding : 1em;
}
legend {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: coral;
    margin-bottom: 1em;
}
fieldset {
    margin : 0.5em;
    width: 11em;
    margin-left: auto;
    margin-right: auto;
}
.titre label, .description label {
    display: block;
    text-align: center;
}
.titre input {
    width : 100%;
}
.description textarea {
    height: 6em;
    width: 100%;
}
button {
    width: 15em;
    margin: auto;
    height: 3em;
    border-radius: 25px;
}

