html {
    scroll-behavior: smooth;
    line-height: 1.15;
    font-family: 'Scheherazade New', serif;
}
body {
    margin: 0;
}
h1 {
    text-align: center;
    padding: 0.5em;
}
/*============================================== FORMULAIRE ========================================*/

form {
    font-size: 1.5em;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #131413;
    color: white;
    border: 2px solid #bc4764;	
    display: flex;
    flex-wrap: wrap;
}
form div {
    padding : 1em;
}
legend {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    background-color: coral;
    margin-bottom: 1em;
}
fieldset {
    margin : 0.5em;
    width: 11em;
    margin-left: auto;
    margin-right: auto;
}
.titre label, .description label {
    display: block;
    text-align: center;
}
.titre input, .description textarea {
    width: 100%;
}
.description textarea {
    height: 6em;
}
button {
    width: 15em;
    margin: auto;
    height: 3em;
    border-radius: 25px;
}
